.close{
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 3.5rem !important;
  color: white !important;
  font-weight: 400;
  text-shadow: none;
  opacity: 1;
  &:hover {
    color: white !important;

  }

}

/*Modal*/
.modal-dialog {
    max-width: 600px;
    p {
        max-width: 500px;
    }
}

