@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i&display=swap');

//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap');

@import 'components/variables';
@import 'mixins';
@import 'pages/home';

@import 'components/bg';
@import 'components/spacing';
@import 'components/inputs';
@import 'components/sizes';

@import 'components/media';
@import 'components/article';
@import 'components/text';


@import 'base';
@import 'override';
@import 'components/buttons';
@import 'media-query';
@import 'plugin';
@import 'print';
