

html, body {
  //margin-top: 100px !important;
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  &.overflow {
    overflow: hidden;
  }
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  font-family: 'Noto Serif', serif;
}

header {
  //height: 98px;
  .custom-navbar {
    padding: 9px 1rem;
  }
}

.custom-footer {
  padding: 24px 1rem;
}

.footer-list {
  list-style-type: none;

  li {
    display: inline-block;
    padding-right: 0.8rem;
    color: $gray;
    font-size: 14px;

  }
}

.main-sidebar {
  background-color: $darkBlue;
  position: fixed;
  top: 90px;
  right: 0;
  z-index: 2;
  width: 0;
  height: 100%;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  &.active {
    width: 65%;
    transform: translate3d(0, 0, 0);
  }
  .sidebar-wrapper {
    display: none;
    .sidebar-list {

      list-style: none;
      .sidebar-item {
        padding: 1rem 0px;
        .sidebar-link {
          color: white;
          &:hover{
            text-decoration: none;
          }

        }
      }
    }
    &.show {
      display: block;
    }
  }

}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  position: fixed;
  &.active {
    display: block;
  }
}

.menu-button {
  border: 1px solid #000;
  display: inline-block;
  cursor: pointer;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler {
  border: 0px solid transparent;
  position: relative;
  &.collapsed span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
  }
  &.collapsed span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
  }
  &.collapsed span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
  }
  span {
    display: block;
    background-color: #444;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
  }

  span:nth-child(1), span:nth-child(3) {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
  }

}
.nav-item{
  .nav-link{
    &.active{
      color: #1807e0 !important;
    }
    &:hover{
      color: #1807e0 !important;
    }
  }

}