@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin user-select($callout) {
    -webkit-user-select: $callout;
    -khtml-user-select: $callout;
    -moz-user-select: $callout;
    -ms-user-select: $callout;
    user-select: $callout;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    /*not supported by any browser */
}