.h-60 {
  height: 60% !important;
}

.h-remaining {

  height: calc(100% - 100px);

}

.h-20 {
  height: 20% !important;
}

.h-10 {
  height: 10% !important;
}

@media (max-width:480px) {

  .h-remaining {

    height: calc(100% - 90px);

  }
}