@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i&display=swap");
/* line 23, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_mixins.scss */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  /*not supported by any browser */
}

/* line 2, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/pages/_home.scss */
.primary-section {
  background: url("../../../charity/assets/images/primary-background1.png");
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  margin-top: 100px;
}

/* line 19, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/pages/_home.scss */
.contact-section {
  background: url("../../../charity/assets/images/contact.png");
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
}

/* line 1, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_bg.scss */
.bg-dark-blue {
  background-color: #354463;
}

/* line 1, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_spacing.scss */
.pt-10 {
  padding-top: 6rem !important;
}

@media (max-width: 480px) {
  /* line 6, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_spacing.scss */
  .no-padding {
    padding: 0 !important;
  }
  /* line 10, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_spacing.scss */
  .no-margin {
    margin: 0 !important;
  }
}

/* line 1, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_inputs.scss */
.custom-form-control {
  height: 48px;
  border: 1px solid white;
  border-radius: 0;
  background: transparent;
  color: #ffffff;
  text-indent: 10px;
}

/* line 8, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_inputs.scss */
.custom-form-control:focus {
  color: #ffffff;
  border: 1px solid white;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

/* line 15, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_inputs.scss */
.custom-form-control::placeholder {
  color: #ffffff;
}

/* line 20, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_inputs.scss */
textarea.custom-form-control {
  height: 130px;
  resize: none;
}

/* line 1, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_sizes.scss */
.h-60 {
  height: 60% !important;
}

/* line 5, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_sizes.scss */
.h-remaining {
  height: calc(100% - 100px);
}

/* line 11, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_sizes.scss */
.h-20 {
  height: 20% !important;
}

/* line 15, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_sizes.scss */
.h-10 {
  height: 10% !important;
}

/* line 19, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_sizes.scss */
.hpx-60 {
  height: 60px;
}

@media (max-width: 480px) {
  /* line 25, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_sizes.scss */
  .h-remaining {
    height: calc(100% - 90px);
  }
}

@media (min-width: 1200px) {
  /* line 34, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_sizes.scss */
  .container {
    max-width: 1250px;
  }
}

/* line 4, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_media.scss */
.img-object .img-fit-cover {
  object-fit: cover;
}

/* line 7, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_media.scss */
.img-object .img-position-center {
  object-position: center;
}

/* line 4, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_article.scss */
.article-object .article-title {
  font-size: 2rem;
}

/* line 7, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_article.scss */
.article-object .article-subtitle {
  font-size: 2rem;
}

/* line 1, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_text.scss */
.text-xs-center {
  text-align: center;
}

/* line 1, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* line 8, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
html.overflow,
body.overflow {
  overflow: hidden;
}

/* line 13, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}

/* line 23, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
h4 {
  font-size: 1.125rem;
}

/* line 27, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
p {
  font-size: 0.875rem;
}

/* line 31, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
a {
  transition: all 0.2s ease;
  outline: none;
  cursor: pointer;
  color: #354463;
}

/* line 37, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
a:hover, a:focus, a:active, a:active:hover, a:active:focus {
  text-decoration: none;
}

/* line 49, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
header .custom-navbar {
  padding: 9px 1rem;
}

/* line 54, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.custom-footer {
  padding: 24px 1rem;
}

/* line 58, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.footer-list {
  list-style-type: none;
}

/* line 61, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.footer-list li {
  display: inline-block;
  padding-right: 0.8rem;
  color: #717171;
  font-size: 14px;
}

/* line 71, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.sub-nav .btn {
  font-size: 0.875rem;
}

/* line 75, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.sub-nav span {
  line-height: 1.7;
  font-size: 0.875rem;
}

/* line 82, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.main-sidebar {
  background-color: #354463;
  position: fixed;
  top: 90px;
  right: 0;
  z-index: 2;
  width: 0;
  height: 100%;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/* line 96, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.main-sidebar.active {
  width: 65%;
  transform: translate3d(0, 0, 0);
}

/* line 101, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.main-sidebar .sidebar-wrapper {
  display: none;
}

/* line 104, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.main-sidebar .sidebar-wrapper .sidebar-list {
  list-style: none;
}

/* line 108, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.main-sidebar .sidebar-wrapper .sidebar-list .sidebar-item {
  padding: .5rem 2rem;
}

/* line 111, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.main-sidebar .sidebar-wrapper .sidebar-list .sidebar-item .sidebar-link {
  color: white;
}

/* line 114, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.main-sidebar .sidebar-wrapper .sidebar-list .sidebar-item .sidebar-link:hover {
  text-decoration: none;
}

/* line 122, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.main-sidebar .sidebar-wrapper.show {
  display: block;
}

/* line 129, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  position: fixed;
}

/* line 137, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.overlay.active {
  display: block;
}

/* line 142, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.menu-button {
  border: 1px solid #000;
  display: inline-block;
  cursor: pointer;
}

/* line 148, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

/* line 153, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.navbar-toggler {
  border: 0px solid transparent;
  position: relative;
}

/* line 157, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.navbar-toggler.collapsed span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

/* line 168, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.navbar-toggler.collapsed span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

/* line 174, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.navbar-toggler.collapsed span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

/* line 185, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.navbar-toggler span {
  display: block;
  background-color: #444;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

/* line 201, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform .35s ease-in-out;
  -moz-transition: transform .35s ease-in-out;
  -o-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
}

/* line 213, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.nav-item .nav-link.active {
  color: #1807e0 !important;
}

/* line 217, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.nav-item .nav-link:hover {
  color: #1807e0 !important;
}

/* line 222, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.nav-item a {
  font-size: 1.125rem;
}

/*Added*/
/* line 230, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.container {
  max-width: 1128px;
}

/* line 234, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
.article-object {
  max-width: 480px;
}

/* line 240, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_base.scss */
#team h4 {
  font-size: 1.5rem;
}

/* line 1, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_override.scss */
.close {
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 3.5rem !important;
  color: white !important;
  font-weight: 400;
  text-shadow: none;
  opacity: 1;
}

/* line 10, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_override.scss */
.close:hover {
  color: white !important;
}

/* line 1, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_buttons.scss */
.btn {
  font-weight: 700;
  transition: all 0.2s ease;
}

/* line 10, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_buttons.scss */
.btn-white {
  cursor: pointer;
  color: #000;
  background-color: #ffffff;
  border: 1px solid white;
  text-transform: uppercase;
}

/* line 16, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_buttons.scss */
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white:active:hover, .btn-white:active:focus {
  background: #000;
  color: #ffffff;
}

/* line 26, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_buttons.scss */
.btn-transparent {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  text-transform: uppercase;
}

/* line 31, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_buttons.scss */
.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active, .btn-transparent:active:hover, .btn-transparent:active:focus {
  background: #ffffff;
  color: #000;
}

/* line 41, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_buttons.scss */
.btn-radius-20 {
  border-radius: 20px;
}

/* line 46, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_buttons.scss */
.custom-button {
  border-radius: 0;
}

/* line 49, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/components/_buttons.scss */
.custom-button.custom-button-lg {
  padding: 0.75rem 4rem;
}

@media (max-width: 991px) {
  /* line 16, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_media-query.scss */
  hmtl, body {
    font-size: 14px;
  }
  /* line 21, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_media-query.scss */
  .footer-list li {
    font-size: 12px;
  }
  /* line 27, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_media-query.scss */
  .copyright {
    font-size: 12px;
  }
  /* line 30, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_media-query.scss */
  .team-container {
    height: 1200px;
    padding: 0 1rem;
    overflow-y: auto;
  }
  /* line 34, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_media-query.scss */
  .team-container .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  /* line 52, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_media-query.scss */
  header .custom-navbar {
    height: 90px;
  }
  /* line 54, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_media-query.scss */
  header .custom-navbar .navbar-brand img {
    height: 54px;
  }
  /* line 60, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_media-query.scss */
  .primary-section {
    margin-top: 90px;
  }
}

@media only print {
  /* line 2, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_print.scss */
  html {
    font-family: Arial, sans-serif !important;
  }
  /* line 5, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_print.scss */
  footer,
  .product,
  .social-media,
  .printsend,
  .nav-tabs,
  section h3,
  .page-header,
  .btn,
  hr,
  .logs,
  .email-p {
    display: none;
  }
  /* line 18, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_print.scss */
  header {
    height: 30px;
  }
  /* line 21, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_print.scss */
  label {
    font-weight: 800;
    font-size: 12px;
  }
  /* line 25, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_print.scss */
  body {
    font-size: 11px;
  }
  /* line 28, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_print.scss */
  .form-group {
    margin-bottom: 0;
  }
  /* line 31, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_print.scss */
  #parties {
    margin: 0;
    padding: 0;
  }
  /* line 34, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_print.scss */
  #parties legend {
    font-size: 16px;
    margin: 20px 0 10px 0;
  }
  /* line 39, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_print.scss */
  h2 {
    text-transform: none;
  }
  /* line 41, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_print.scss */
  h2 span {
    font-weight: 400;
  }
  /* line 46, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_print.scss */
  .pagebreak {
    page-break-after: always;
  }
  /*Breaker*/
  /* line 53, C:/xampp/htdocs/charity/wp-content/themes/charity/assets/css/scss/_print.scss */
  .pagebreak {
    page-break-after: always;
  }
}

/*# sourceMappingURL=../../../app.map */